@mixin sans-serif {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
@mixin serif {
  font-family: serif;
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

body {
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  @include sans-serif;
}

* {
  font-weight: 400;
  @include sans-serif;
}

a {
  text-decoration: none;
}
